.display_container{
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color:beige;
  }

  .button-del {
    background-color:red; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }

  .complete{
    background-color:blueviolet; /* Green */
    margin:10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border: none;
  
}
  