.container {
    max-width: 600px;
    width: 600px;
    font-size: 25px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
    
  }
.span{
  background-color: #fff;
  border-radius: 5px;
  color: black;
  width: auto;
  padding: 5px;
}

  .nav-btn{

    background-color:grey; /* Green */
    margin:10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
  
  }
  
  .nav-btn.clicked{
    background-color: brown;
  }
