.app{
  min-height:100vh;
  width: 100vw;
  height: auto;
  /* height:auto; */
  
  display:flex;
  justify-content:first baseline;
  align-items: center;
  flex-direction: column;
  top:50px;
}

 #dark .backdrop{
  background-color: black;
  height: auto;
}

#light .backdrop{
  background-color: white;
  height: auto;
}

 