.app{
  max-height:auto;
  width: 100vw;
  height: auto;
  /* height:auto; */
  
  display:flex;
  justify-content:first baseline;
  align-items: center;
  flex-direction: column;
  top:50px;
}



 #dark .backdrop,body{
  background-color: black;
}

#light .backdrop{
  background-color: white;
}

